@charset "UTF-8";


header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-weight: bold;
}

header > h2 {
    font-weight: lighter;
}

a.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}